<div class="desktop">
  <ng-container *ngIf="!isMobile; else mobileViewTpl">
    <div class="desktop__left">
      <div class="card-wrapper">
        <!--Profile-->
        <doc-card customClass="doc-card">
          <div class="card">
            <ng-container *ngTemplateOutlet="greyProfileCardTpl"></ng-container>
            <div class="tui-space_left-5">
              <ng-container *ngTemplateOutlet="contactTpl"></ng-container>
            </div>
          </div>
        </doc-card>
        <!--My Doctors-->
        <doc-card customClass="doc-card height-overflow">
          <tui-svg class="" src="tuiIconAddRowLarge"></tui-svg>
          <span class="tui-space_left-2 tui-text_h6">My doctors</span>
          <ng-container *ngTemplateOutlet="doctorsListTpl"></ng-container>
        </doc-card>
      </div>
      <doc-card>
        <ng-container *ngTemplateOutlet="documentsTmpl"></ng-container>
      </doc-card>
    </div>
    <div class="desktop__right">
      <doc-card> </doc-card>
    </div>
  </ng-container>
</div>
<!--Mobile view-->
<ng-template #mobileViewTpl>
  <tui-accordion class="container">
    <tui-accordion-item>
      <tui-svg class="" src="tuiIconUser"></tui-svg>
      Profile
      <ng-template tuiAccordionItemContent>
        <ng-container *ngTemplateOutlet="contactTpl"></ng-container>
        <ng-container *ngTemplateOutlet="greyProfileCardTpl"></ng-container>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
  <tui-accordion class="container">
    <tui-accordion-item>
      <tui-svg class="" src="tuiIconUser"></tui-svg>
      My doctors
      <ng-template tuiAccordionItemContent>
        <ng-container *ngTemplateOutlet="doctorsListTpl"></ng-container>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
  <tui-accordion class="container">
    <tui-accordion-item>
      <tui-svg class="" src="tuiIconUser"></tui-svg>
      Documents
      <ng-template tuiAccordionItemContent>
        <ng-container *ngTemplateOutlet="documentsTmpl"></ng-container>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</ng-template>

<!--Grey Profile card-->
<ng-template #greyProfileCardTpl>
  <ng-container *ngIf="user$ | async as user">
    <div class="grey-card">
      <tui-avatar
        class="tui-space_top-1 tui-space_bottom-5"
        [text]="user.firstName + user.lastName"
        size="xl"
        [rounded]="true"
      ></tui-avatar>
      <label class="tui-space_bottom-5" tuiLabel [label]="user.firstName"> {{ user.lastName }}</label>
      <div class="grey-card__setting">
        <div class="white">
          <tui-marker-icon size="xs" mode="white" src="tuiIconSettings"></tui-marker-icon>
        </div>
      </div>
      <a class="grey-card__link" routerLink="/components/link"> Go to medical card </a>
    </div>
  </ng-container>
</ng-template>

<!--Contacts in Profile-->
<ng-template #contactTpl>
  <ng-container *ngIf="user$ | async as user">
    <label tuiLabel label="Phone number"> {{ user.phone }}</label>
    <label class="tui-space_bottom-5 tui-space_top-5" tuiLabel label="Email"> {{ user.email }}</label>
    <label class="tui-space_bottom-5" tuiLabel label="Date of birth"> {{ user.birthday | date: 'dd/mm/yyyy' }}</label>
  </ng-container>
</ng-template>

<!--My doctors Tpl-->
<ng-template #doctorsListTpl>
  <div class="d-flex">
    <tui-avatar
      class="tui-space_top-1 tui-space_bottom-5"
      text="dmitry demensky"
      size="s"
      [rounded]="true"
    ></tui-avatar>
    <label class="tui-space_bottom-5 tui-space_left-2 label" tuiLabel label="Arakelov Armen"> Armen</label>
  </div>
  <div class="d-flex">
    <tui-avatar
      class="tui-space_top-1 tui-space_bottom-5"
      text="dmitry demensky"
      size="s"
      [rounded]="true"
    ></tui-avatar>
    <label class="tui-space_bottom-5 tui-space_left-2 label" tuiLabel label="Arakelov Armen"> Armen</label>
  </div>
  <div class="d-flex">
    <tui-avatar
      class="tui-space_top-1 tui-space_bottom-5"
      text="dmitry demensky"
      size="s"
      [rounded]="true"
    ></tui-avatar>
    <label class="tui-space_bottom-5 tui-space_left-2 label" tuiLabel label="Arakelov Armen"> Armen</label>
  </div>
  <div class="d-flex">
    <tui-avatar
      class="tui-space_top-1 tui-space_bottom-5"
      text="dmitry demensky"
      size="s"
      [rounded]="true"
    ></tui-avatar>
    <label class="tui-space_bottom-5 tui-space_left-2 label" tuiLabel label="Arakelov Armen"> Armen</label>
  </div>
  <div class="d-flex">
    <tui-avatar
      class="tui-space_top-1 tui-space_bottom-5"
      text="dmitry demensky"
      size="s"
      [rounded]="true"
    ></tui-avatar>
    <label class="tui-space_bottom-5 tui-space_left-2 label" tuiLabel label="Arakelov Armen"> Armen</label>
  </div>
  <div class="d-flex">
    <tui-avatar
      class="tui-space_top-1 tui-space_bottom-5"
      text="dmitry demensky"
      size="s"
      [rounded]="true"
    ></tui-avatar>
    <label class="tui-space_bottom-5 tui-space_left-2 label" tuiLabel label="Arakelov Armen"> Armen</label>
  </div>
  <div class="d-flex">
    <tui-avatar
      class="tui-space_top-1 tui-space_bottom-5"
      text="dmitry demensky"
      size="s"
      [rounded]="true"
    ></tui-avatar>
    <label class="tui-space_bottom-5 tui-space_left-2 label" tuiLabel label="Arakelov Armen"> Armen</label>
  </div>
  <div class="d-flex">
    <tui-avatar
      class="tui-space_top-1 tui-space_bottom-5"
      text="dmitry demensky"
      size="s"
      [rounded]="true"
    ></tui-avatar>
    <label class="tui-space_bottom-5 tui-space_left-2 label" tuiLabel label="Arakelov Armen"> Armen</label>
  </div>
</ng-template>

<!--Documents-->
<ng-template #documentsTmpl>
  <div class="documents d-flex">
    <ng-container *ngFor="let document of documents$ | async">
      <tui-island *ngIf="document.documents.length" class="documents__card" size="l">
        <div class="tui-island__content">
          <div>
            <tui-badge status="info" size="l" [value]="document.docsType.alias" [hoverable]="false">
              <span class="custom-content"></span>
            </tui-badge>
            <div class="d-flex align-items-center" *ngFor="let doc of document.documents">
              <tui-svg src="tuiIconMicLarge"></tui-svg>
              <label class="tui-space_left-5 label" tuiLabel [label]="doc.subType.alias">
                {{ doc.createdAt | date: 'mm/dd/yyyy' }}</label
              >
              <label class="tui-space_left-5 tui-col-offset_md-7 label tui-col-offset_lg-5" tuiLabel>22.01.2021</label>
            </div>
          </div>
        </div>
      </tui-island>
    </ng-container>
  </div>
</ng-template>
