<doc-block-page-header></doc-block-page-header>
<div class="dashboard-page">
  <div class="side-menu shadow">
    <ul class="side-menu__list">
      <li class="side-menu__item">
        <a class="side-menu__link">Calendar</a>
      </li>
      <li class="side-menu__item">
        <a class="side-menu__link">Message</a>
      </li>
      <li class="side-menu__item">
        <a class="side-menu__link">My doctors</a>
      </li>
    </ul>
  </div>
  <div class="dashboard-page__content">
    <router-outlet></router-outlet>
  </div>
</div>
