<div class="medical-card">
  <div class="medical-card__sidebar">
    <h2>Medical card</h2>
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a class="sidebar__link"> Your profile</a>
      </li>
      <li class="sidebar__item">
        <a class="sidebar__link"> Documents</a>
        <ul class="sidebar-link__child">
          <li class="sidebar__item">
            <a class="sidebar__link"> Research</a>
          </li>
          <li class="sidebar__item">
            <a class="sidebar__link"> Research</a>
          </li>
          <li class="sidebar__item">
            <a class="sidebar__link"> Research</a>
          </li>
          <li class="sidebar__item">
            <a class="sidebar__link"> Research</a>
          </li>
          <li class="sidebar__item">
            <a class="sidebar__link"> Research</a>
          </li>
          <li class="sidebar__item">
            <a class="sidebar__link"> Research</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="medical-card__content tui-container tui-container-adaptive">
    <router-outlet></router-outlet>
  </div>
</div>
